.App {
  text-align: center;
}

.Modal{
  width: 100%;
}

.Chart {
  font-size: calc(10px + 0.5vmin);
}


@media (prefers-reduced-motion: no-preference) {

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

}